NEXT_PUBLIC_SUPABASE_URL=https://iwjrvgxomxmbgtwpuacd.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml3anJ2Z3hvbXhtYmd0d3B1YWNkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM2ODAxMTAsImV4cCI6MjA4OTI1NjExMH0.HeZd6zCNBFbA7tQhgIrDO7lscHIOFs2IG68h2M9q6SI
